.font-birthstone {
  font-family: "Birthstone", cursive;
}
button > .bi {
  pointer-events: none;
}
.app-header {
  background-image: url(../images/abstract.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  color: wheat;
  text-align: center;
  font-size: 70px;
}
.task-box {
  background-color: #333;
  overflow: hidden;
}
.task-status-todo {
  background-color: inherit;
}
.task-status-inprogress {
  background-color: rgb(238, 238, 190);
}
.task-status-review {
  background-color: rgb(204, 218, 228);
}
.task-status-done {
  background-color: rgb(209, 245, 209);
}
#task-form {
  display: none;
}
#task-form:target {
  display: block;
}
#task-form:target + #task-list-container {
  display: none;
}
